/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

body {
   background: url("football-field.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

 }

.top-bar {
  background-color: #4FAC6A;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #4FAC6A;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #2D6513;
}

 .home-page-title {
     text-align: center;
     color: white;
     font-family: 'Francois One', sans-serif;
     margin-top: 15rem;
     margin-left: 7rem;
 }

 .search-bar {
     margin-top: 5rem;
     margin-left: 28rem;
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     border-color: #270E39;
   background: rgb(0, 0, 0); /* Fallback color */
   background: rgba(0, 0, 0, 0.25); /* Black background with 0.5 opacity */
   color: #f1f1f1; /* Grey text */
 }

 .search-input {
   border-radius: 20px;

 }

.log-in-page {
  margin-left: 30rem;
  margin-right: 30rem;
  border: #270E39;
  border-radius: 5%;
  padding: 50px 50px;
  margin-top: 5rem;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.25)
}

.log-in-header {
  color: white;
}

label {
  color: white;
}

a {
  color: white;
}

.sign-up-page {
  margin-left: 30rem;
  margin-right: 30rem;
  border: #270E39;
  border-radius: 5%;
  padding: 50px 50px;
  margin-top: 5rem;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.25)
}

.sign-up-header {
  color: white
}
.password-field {
  color: white
}

.info {
  color: black
}

.training-form {
  text-align: center;
}

.button {
  margin: 5px 10px;
}

.training-show {
  text-align: center;
}

.search-button {
border-radius: 20px;
font-size: 20px;
}

.location {
  color: white;
  margin-left: 0.75rem;
  font-family: 'Francois One', sans-serif;
}

.panel h3 {
  font-family: 'Francois One', sans-serif;
  color: white;
}

.training-form {
  border: #270E39;
  border-radius: 5%;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.25);
}

#search-input {
  font-size: 1.5em
}

#input-label {
  font-size: 1.25rem
}
#form-field {
  font-size: 1.25em;
}

#number-input-label {
  font-size: 1.25rem
}
#number-form-field {
  font-size: 1em;
  text-align: center;
}

#input-group-field {
  font-size: 1.25rem
}

.new-review-form {
  font-family: 'Francois One', sans-serif;
}

.sticky {
   position: sticky;
   top: 2rem;
 }

 /* .submit-button {
   font-family: 'Francois One', sans-serif;
   color: white;
   background: transparent;
   border: solid #4FAC6A;
 }

 .submit-button:hover {
   font-family: 'Francois One', sans-serif;
   background: transparent;
   border: solid #4FAC6A;
 }

 .clear-button {
   font-family: 'Francois One', sans-serif;
   color: white;
   background: transparent;
   border: solid navy;
 }

 .clear-button:hover {
   font-family: 'Francois One', sans-serif;
   color: navy;
   background: transparent;
   border: solid navy;
 } */

.training-index {
  background-color: transparent;
  padding-bottom: 30rem;
  background: rgba(0, 0, 0, 0.25);
}

.training-tile {
  background-color: transparent;
  margin: 15px 15px;
  border: solid white;
  padding: 15px 15px;
  color: white;
  border-radius: 10px;
}

.training-tile:hover {
  background-color: transparent;
  margin: 15px 15px;
  border: solid #4FAC6A;
  padding: 15px 15px;
  border-radius: 10px;
  color: #4FAC6A;

}

.close-button {
    float: right;
    font-size: 15px;
    padding: 0px;
    margin: 0px 0px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
}

.close-button:hover {
    float: right;
    font-size: 15px;
    padding: 0px;
    margin: 0px 0px;
    background-color: transparent;
    border-radius: 5px;
    color: red;
}

.training-show {
  background-color: transparent;
}

.training-show h2 {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 50px;
}

.training-show p {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 25px;
}

.chat-window {
  margin-right: 5rem;
  text-align: center;
  background: transparent;
}

.chat-window h1 {
  color: white;
  font-family: 'Francois One', sans-serif;
}

.message-box {
  text-align: left;
  height: 300px;
  overflow-y: scroll;
  background-color: white;
}

#message {
  font-size: 20px;
  position: relative;
  bottom: 0;
}

/* .city-state-field {
  border: solid red;

}
.number-field {
  border: solid black;
} */
